#app {
    padding-top: 65px;
}
.addTodo {
    padding: 20px;
    cursor: text;
}
#todo-list .done {
    text-decoration: line-through;
    opacity: 0.5;
}
.contentEditable {
    display: inline-block;
}
.noBorder {
    border: 0;
    outline: 0;
}
.remove {
    float:right;
    cursor: pointer;
}
header {
    text-align: right;
}
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-placeholder)
}